{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 mb-4">
      <h3>Nuevo Producto</h3>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="control-group form-group">
          {{ form_label(form.nombre) }}
          {{ form_errors(form.nombre) }}
          {{ form_widget(form.nombre) }}
      </div>
      <div class="control-group form-group">
          {{ form_label(form.descripcion) }}
          {{ form_errors(form.descripcion) }}
          {{ form_widget(form.descripcion) }}
      </div>
      <div class="control-group form-group">
        {{ form_label(form.precio) }}
        {{ form_errors(form.precio) }}
        {{ form_widget(form.precio) }}
      </div>
      <div class="control-group form-group">
          {{ form_label(form.Guardar) }}
          {{ form_widget(form.Guardar) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{#<script type="text/javascript" src="{{ asset('js/nuevoProducto.js') }}">

</script>#}
{% endblock %}
